In [3]:
# Import pandas
import pandas as pd

# Create an empty dataframe
df = pd.DataFrame()

# Create an empty series
ser = pd.Series()

# Print the Dataframe and Series
print(df)
print(ser)

Empty DataFrame
Columns: []
Index: []
Series([], dtype: float64)

/var/folders/2y/jw_fvb1s0nncctnyn9dc159w0000gn/T/ipykernel_33329/3605077008.py:8: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  ser = pd.Series()

In [7]:
# Create a dictionary
data = {'Name': ['Thando', 'Divya', 'Simon', 'Peter'],
        'Country': ['South Africa', 'Singapore', 'United Kingdom', 'Australia'],
        'Qualification': ['Phd', 'Diploma', 'BSc', 'MBA'],
        'Age': [29, 20, 25, 23],}

# Create a dataframe from the dictionary
students = pd.DataFrame(data)

# Print the dataframe
students

     Name         Country Qualification  Age
0  Thando    South Africa           Phd   29
1   Divya       Singapore       Diploma   20
2   Simon  United Kingdom           BSc   25
3   Peter       Australia           MBA   23