In [173]:
# import pandas library to use pandas functions
import pandas as pd

# load the csv files products
products = pd.read_csv('products.csv')

# view how many columns and rows
print(products.shape)

(3945, 2)

In [174]:
# get additional details around type, count etc...
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3945 entries, 0 to 3944
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   StockCode    3945 non-null   object
 1   Description  3945 non-null   object
dtypes: object(2)
memory usage: 61.8+ KB

In [177]:
# view the top rows of the dataframe
products.head()

  StockCode                  Description
0     10002   INFLATABLE POLITICAL GLOBE
1     10080     GROOVY CACTUS INFLATABLE
2     10120                 DOGGY RUBBER
3    10123C         HEARTS WRAPPING TAPE
4    10124A  SPOTS ON RED BOOKCOVER TAPE

In [178]:
# How many products contain the word fire in their description?
products['Description'].str.lower().str.contains('fire').sum()

9

In [179]:
# display descriptions containing fire
products[products['Description'].str.lower().str.contains('fire')]

     StockCode                          Description
1318     22428             ENAMEL FIRE BUCKET CREAM
3033    84569B       PACK 3 FIRE ENGINE/CAR PATCHES
3626    90039A     FIRE POLISHED GLASS BRACELET RED
3627    90039B  FIRE POLISHED GLASS BRACELET MONTAN
3628    90039C   FIRE POLISHED GLASS BRACELET BLACK
3629    90039D   FIRE POLISHED GLASS BRACELET GREEN
3656    90060B       FIRE POLISHED GLASS NECKL GOLD
3657    90060D     FIRE POLISHED GLASS NECKL BRONZE
3658    90060F      FIRE POLISHED GLASS NECKL GREEN

In [180]:
# How many products contain the word candle in their description?
products['Description'].str.lower().str.contains('candle').sum()

178

In [181]:
# display descriptions containing candle
products[products['Description'].str.lower().str.contains('candle')]

     StockCode                         Description
83      17012A  ORIGAMI VANILLA INCENSE/CANDLE SET
84      17012B  ORIGAMI JASMINE INCENSE/CANDLE SET
86      17012D     ORIGAMI ROSE INCENSE/CANDLE SET
87      17012E    ORIGAMI OPIUM INCENSE/CANDLE SET
107     17136A      BLUE STONES ON WIRE FOR CANDLE
...        ...                                 ...
3530    85230A         OPIUM SCENTED VOTIVE CANDLE
3531    85230B      CINNAMON SCENTED VOTIVE CANDLE
3532    85230E      STRAWBRY SCENTED VOTIVE CANDLE
3533    85230F               JASMINE VOTIVE CANDLE
3534    85230G                ORANGE VOTIVE CANDLE

[178 rows x 2 columns]

In [182]:
# check how many rows there are
products[products['Description'].str.lower().str.contains('candle')].count()

StockCode      178
Description    178
dtype: int64

In [183]:
# How many products contain the word matches in their description?
products['Description'].str.lower().str.contains('matches').sum()

6

In [184]:
# display descriptions containing matches
products[products['Description'].str.lower().str.contains('matches')]

    StockCode                      Description
669     21584     RETROSPOT SMALL TUBE MATCHES
670     21586  KINGS CHOICE GIANT TUBE MATCHES
671     21587     COSY HOUR GIANT TUBE MATCHES
672     21588     RETROSPOT GIANT TUBE MATCHES
673     21591      COSY HOUR CIGAR BOX MATCHES
674     21592      RETROSPOT CIGAR BOX MATCHES